<section id="hero" class="hero d-flex align-items-center">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 class="text-lg-nowrap">Organize it all with Todoist</h1>
            <h2>
               Regain clarity and calmness by getting all those tasks out of
               your head and onto your to-do list (no matter where you are or
               what device you use).
            </h2>
            <div class="my-3">
               <div class="text-lg-start">
                  <a href="/signup" class="btn btn-primary"
                     >Create an account</a
                  >
               </div>
            </div>
         </div>
         <div
            class="col-lg-6 hero-img"
            data-aos="zoom-out"
            data-aos-delay="200"
         >
            <img src="/images/hero-banner.svg" class="img-fluid" alt="" />
         </div>
      </div>
   </div>
</section>
